# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# testing
/coverage

# production
/build

# misc
.DS_Store
node_modules/
.vscode
.env
.env.development.local
.env.test.local
.env.production.local